{% extends '@SyliusShop/Checkout/layout.html.twig' %}
{% block title %}{{ 'sylius.ui.complete'|trans }} | {{ parent() }}{% endblock %}
{% block metatags %}
    <script type="text/javascript"
        src="https://static.systempay.fr/static/js/krypton-client/V4.0/stable/kr-payment-form.min.js"
        kr-public-key="{{  formData['publicKey'] }}"
        
        kr-language="fr-FR"></script>
    <link rel="stylesheet" href="https://static.systempay.fr/static/js/krypton-client/V4.0/ext/neon-reset.min.css">
{% endblock %}

{% block  content %}
    <div class="kr-smart-form"
         
         kr-form-token="{{ formData['formToken'] }}" kr-popin="true">

        <!-- error zone -->
        <div class="kr-form-error"></div>
    </div>
   
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script src="https://static.systempay.fr/static/js/krypton-client/V4.0/ext/neon.js" ></script>
    
    <!-- code Jquery -->
    <script type="text/javascript">
    $(document).ready(function() {
         KR.onLoaded( () => {
            $(".kr-smart-form-modal-button").hide();
        });
        KR.onFormReady( () => {
            $(".kr-smart-form-modal-button").trigger("click");
        });
         KR.onSubmit( (event) => {
            //event.preventDefault();
            console.log("Form submitted",event);
            $.ajax({
                url: "{{ redirectUrl }}",
                type: "POST",
                data: {
                    'kr-answer': event.rawClientAnswer,
                    "kr-hash-algorithm": event.hashKey,
                    "kr-hash": event.hash,
                },
                success: function(response) {
                    console.log("Success", response);
                    // Handle success response
                    const confirmationText = document.querySelector('#confirmation-modal > div.content');
                    const confirmationHeader = document.querySelector('#confirmation-modal > div.header');
                    const defaultText = confirmationText.innerHTML;
                    $('#confirmation-modal')
                    .modal({
                        onHidden: function() {
                            confirmationText.innerHTML = response;
                            confirmationHeader.remove()
                             document.querySelector('#confirmation-modal > div.actions').remove();
                        }
                    })
                    .modal('show');
                },
                error: function(xhr, status, error) {
                    console.error("Error", error);
                    // Handle error response
                }
            });
        });
    });
    </script>
{% endblock %}